streamlit==1.48.0
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
opencv-python==4.10.0.84
pandas==2.3.1
numpy==2.1.2
ultralytics==8.3.182
scipy==1.16.1
openpyxl==3.1.5


## Nvidia driver
# nvidia-ml-py==12.575.51
onnxruntime==1.22.1


onnx==1.17.0
onnx_graphsurgeon==0.5.8
onnxruntime-gpu==1.21.1
onnxslim==0.1.68
